{% extends 'bot/base.html' %}

{% block content %}
    <div class="col s10 offset-s1">
        <div class="row chat">
            <div class="message-wrapper col s10">
                <div class="message message-computer z-depth-1">
                    Hello {{ user }}
                </div>
            </div>
            <div class="message-wrapper col s10 offset-s2">
                <div class="message message-user z-depth-1">
                    To jest testowa wiadomość użytkownika
                </div>
            </div>
        </div>
        <form action="/bot/chat" method="get">
            <div class="input-field">
                {{ form }}
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Wyślij</button>
        </form>
    </div>
{% endblock %}

