{% extends 'bot/base.html' %}

{% block content %}
    <div class="col s10 offset-s1">
        <div class="row chat">
            <!-- <div class="message-wrapper col s10">
                <div class="message message-computer z-depth-1">
                    Hello {{ user }}
                </div>
            </div> -->
            <!-- <div class="message-wrapper col s10 offset-s2">
                <div class="message message-user z-depth-1">
                    To jest testowa wiadomość użytkownika
                </div>
            </div> -->
            {% for message in messages %}
              {% if message.message_author == 'U' %}
                <div class="message-wrapper col s10 offset-s2">
                    <div class="message message-user z-depth-1">
                        {{ message.message_text }}
                    </div>
                </div>
              {% else %}
              <div class="message-wrapper col s10">
                  {% if message.message_gif != '' %}
                    <img src="{{ message.message_gif }}" width="300" height="auto"><br>
                  {% endif %}
                  {% if message.message_text == 'weather' %}
                    <div class="message message-computer z-depth-1">
                      {% load static %}
                      <img src="{% static 'img/' %}{{ message.weather_img }}" alt="Weather illustration">
                      <p>{{ message.weather_temp }}°C</p>
                      <ul>
                        <li>Wiatr: {{ message.weather_wind }}</li>
                        <li>Ciśnienie: {{ message.weather_pressure }}hPa</li>
                        <li>Wilgotnośc: {{ message.weather_humidity }}</li>
                    </div>
                  {% else %}
                    <div class="message message-computer z-depth-1">
                        {{ message.message_text }}
                    </div>
                  {% endif %}
              </div>
              {% endif %}
            {% endfor %}
        </div>
        <div class="row form-message">
            <form action="" method="POST">{% csrf_token %}
                <div class="col s12 m10">
                    <div class="input-field">
                        {{ form }}
                    </div>
                </div>
                <div class="col s2 m2 offset-s10 offset-m0 valign-wrapper">
                    <button class="btn waves-effect waves-light send" type="submit" name="action">
                        <i class="large material-icons">chevron_right</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
