{% extends 'bot/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row chat">
        {% for message in messages %}
          {% if message.message_author == 'U' %}
          <div class="message-wrapper col s10 offset-s2">
              <div class="message message-user">
                  <div class="text">
                    {{ message.message_text }}
                  </div>
              </div>
          </div>
          {% else %}
          <div class="message-wrapper col s10">
              {% if message.message_text == 'weather' %}
                <div class="message message-computer message-weather">
                  {% load static %}
                  <img src="{% static 'img/' %}{{ message.weather_img }}" class="weather-img" alt="Weather illustration">
                  <p class="temperature">{{ message.weather_temp }}°C</p>
                  <ul>
                    <li>Wiatr: <span>{{ message.weather_wind }}km/ha</span></li>
                    <li>Ciśnienie: <span>{{ message.weather_pressure }}hPa</span></li>
                    <li>Wilgotność: <span>{{ message.weather_humidity }}%</span></li>
                  </ul>
                  <p class="location"><i class="tiny material-icons">location_on</i>{{ message.weather_place }}</p>
                </div>
              {% else %}
                <div class="message message-computer">
                    {% if message.message_gif != '' %}
                        <img src="{{ message.message_gif }}" class="gif"><br>
                    {% endif %}
                    <div class="text">
                        {{ message.message_text }}
                    </div>
                </div>
              {% endif %}
          </div>
          {% endif %}
        {% endfor %}
    </div>
    <div class="row form-message" id="form-message">
        <form action="" method="POST">{% csrf_token %}
            <div class="col s12 send-box">
                <div class="input-field input-message">
                    {{ form }}
                </div>
                <button class="btn-send" type="submit" name="action">
                    Wyślij
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/scroll.js'%}"></script>
{% endblock %}
