{% extends 'bot/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="clouds">
        <div class="clouds-content"></div>
    </div>
    <div class="info">
        <h1>Witaj!</h1>
        <p class="hello">Przedstaw się, aby porozmawiać z botem.</p>
    </div>
    <form action="" method="POST">{% csrf_token %}
        <div class="form-inputs">
            <div class="input-field">
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
                {{ form.geo.errors }}
                {{ form.geo }}
                {{ form.geo.label_tag }}
        </div>
        <button class="btn-start" type="submit" name="action" id="btn-start">Rozpocznij</button>
    </form>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/validate.js'%}"></script>
{% endblock %}
