.chat {
  width: 100%;
  margin-top: 30px;
  padding: 0 25px;
}

.message-wrapper {
<<<<<<< HEAD
<<<<<<< HEAD
  margin-bottom: .5em;
  margin-top: 0.5em;
=======
  margin-bottom: 24px;
>>>>>>> 5dfc0e65eedf400af1d075fa85d911e2a1d4ddb1
=======
  margin-bottom: 24px;
>>>>>>> 23932574ddd812800c9a0ab55341977342113ab3
}

.message {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: $white;

  &-computer {
    background-color: $blue;
    border-radius: 44px 44px 44px 0;
    float: left;
  }

  &-user {
    background-color: $bright-blue;
    border-radius: 44px 44px 0 44px;
    float: right;
  }

  img {
    min-width: 100%;
    width: 260px;
    height: auto;
    border-radius: 44px 44px 0 0;
  }

  .text {
    padding: 18px 33px;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> 5dfc0e65eedf400af1d075fa85d911e2a1d4ddb1
=======
>>>>>>> 23932574ddd812800c9a0ab55341977342113ab3
