.chat {
  width: 100%;
  margin-top: 30px;
  padding: 0 25px;
}

.message-wrapper {
  margin-bottom: 24px;
}

.message {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: $white;

  &-computer {
    background-color: $blue;
    border-radius: 44px 44px 44px 0;
    float: left;
  }

  &-user {
    background-color: $bright-blue;
    border-radius: 44px 44px 0 44px;
    float: right;
  }

  img {
    min-width: 100%;
    width: 260px;
    height: auto;
    border-radius: 44px 44px 0 0;
  }

  .text {
    padding: 18px 33px;
  }
}


